.widgetContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .header {
        text-align: center;
        margin-bottom: 5px;
    }
    
    section {
        display: flex;
        margin-top: 10px;
        margin-right: 20px;
        width: 90%;
    
        .widget {
            display: flex;
            justify-content: space-between;
            margin-right: 20px;
            flex: 3;
            padding: 10px;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            height: 100px;
        
            .left, .right {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
        
                .title {
                    font-weight: bold;
                    font-size: 14px;
                    color: rgb(178, 173, 173);
                }
        
                .counter {
                    font-size: 28px;
                    font-weight: 300;
                }
        
                .link {
                    width: max-content;
                    font-size: 12px;
                    border-bottom: 1px solid gray;
    
                    &:hover {
                        background-color: #ece8ff;
                        padding: 2px;
                    }
                }
    
        
                .favorite {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                }
        
                .icon {
                    font-size: 18px;
                    padding: 5px;
                    border-radius: 5px;
                    align-items: flex-end;
                    color: #7451f8;
                }
    
                .star {
                    color: rgb(203, 185, 16);
                }
            } 
        }
    }
}